// change the theme colors
$primary: #09cfda;
$light: #f6f6f6;
$theme-colors: (
  'primary': $primary,
  'light': $light,
);

// other variables
$theme-border-radius: 20px;
$theme-border-color: #ebe9e9;
$max-width: 1200px;
$card-title-max-height: 50px;
$card-img-xs-height: 250px;
$card-img-sm-height: 300px;
$card-img-md-height: 325px;
$card-text-xs-max-height: 150px;
$card-text-sm-max-height: 100px;
$card-text-lg-max-height: 150px;
$modal-wide: 800px;
$modal-standard: 500px;
