// import global variables
@import './variables';
// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// global overrides
body {
  font-family: 'Nunito', sans-serif;
}
@include media-breakpoint-up(sm) {
  .container {
    padding: 0;
  }
}

.alert {
  margin-bottom: 0;
  p {
    margin-bottom: 0;
  }
  border-radius: $theme-border-radius;
}
.btn,
.form-control {
  border-radius: $theme-border-radius;
}
label {
  padding: 0 0.75rem;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:hover {
  color: black;
}
