// import global variables
@import './variables';
// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// global overrides
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Nunito', sans-serif;
}
@include media-breakpoint-up(sm) {
  .container {
    padding: 0;
  }
}
.alert {
  margin-bottom: 0;
  p {
    margin-bottom: 0;
  }
  border-radius: $theme-border-radius;
}
.btn,
.form-control {
  border-radius: $theme-border-radius;
  border: none;
}
input[type='file'] {
  width: 100%;
}
label {
  padding: 0 0.75rem;
}
img {
  border-radius: $theme-border-radius;
}
.navbar-nav {
  // align-items: flex-start;
  @include media-breakpoint-up(sm) {
    align-items: center;
  }
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:hover {
  color: black;
}
// Modifications to Card CSS
.card {
  border: none;
  border-radius: $theme-border-radius;
}
.card-title {
  @include media-breakpoint-only(sm) {
    max-height: $card-title-max-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.card-body {
  padding: 0 1rem;
}

@include media-breakpoint-up(sm) {
  .card {
    flex-direction: row;
  }
  .card-body {
    width: 50%;
  }
}
.card-img {
  border-radius: $theme-border-radius;
  @include media-breakpoint-only(xs) {
    height: $card-img-xs-height;
  }
  @include media-breakpoint-up(sm) {
    max-width: 50%;
    height: $card-img-sm-height;
    object-fit: cover;
  }
  @include media-breakpoint-up(md) {
    height: $card-img-md-height;
  }
}
.card-text {
  overflow: scroll;
  @include media-breakpoint-up(xs) {
    max-height: $card-text-xs-max-height;
  }
  @include media-breakpoint-up(sm) {
    max-height: $card-text-sm-max-height;
  }
  @include media-breakpoint-up(lg) {
    max-height: $card-text-lg-max-height;
  }
}
.modal-body {
  input,
  textarea,
  select {
    background: $light;
  }
}
