@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import './../../variables';

.cardTitle {
  margin-bottom: 1rem;
}
.cardSpacing {
  padding: 1rem 0;
  border-bottom: 1px $theme-border-color solid;
}
.skeletonImg {
  margin-bottom: 0.25rem;
  @include media-breakpoint-up(xs) {
    height: $card-img-xs-height;
  }
  @include media-breakpoint-up(sm) {
    height: $card-img-sm-height;
  }
}
