@import '../../../variables';

.pageContainer {
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background: url('../../../img/neighborhood.jpg');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.formContainer {
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: $theme-border-radius;
  background-color: rgba($color: white, $alpha: 0.25);
  backdrop-filter: blur(10px);
  color: white;
}

.alertContainer {
  height: 80px;
  position: relative;
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
