.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
}

.toastContent {
  margin-bottom: 0;
  margin-right: 10px;
}

.toastSuccess {
  background-color: green;
}

.toastFail {
  background-color: red;
}

.dismiss {
  border: none;
  border-radius: none;
  color: inherit;
  background-color: inherit;
}
