@import '../../variables';

.headerForm {
  flex-flow: nowrap;
  width: 100%;
}
.searchBarGroup {
  flex-grow: 1;
  position: relative;
}
.searchBarButton {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.searchBar {
  padding-right: 75px !important;
  width: 100%;
  background: $light !important;
}
