@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

.profileGroupTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }
}
.profileGridValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
